body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:164px;
}
#u40 {
  position:absolute;
  left:411px;
  top:71px;
  width:166px;
  height:164px;
}
#u41 {
  position:absolute;
  left:2px;
  top:74px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FF9900;
}
#u42 {
  position:absolute;
  left:577px;
  top:135px;
  width:255px;
  height:66px;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FF9900;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:58px;
  height:83px;
}
#u45 {
  position:absolute;
  left:128px;
  top:740px;
  width:48px;
  height:73px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u47 {
  position:absolute;
  left:186px;
  top:753px;
  width:230px;
  height:48px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:58px;
  height:83px;
}
#u50 {
  position:absolute;
  left:128px;
  top:444px;
  width:48px;
  height:73px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u52 {
  position:absolute;
  left:186px;
  top:458px;
  width:152px;
  height:48px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:173px;
}
#u55 {
  position:absolute;
  left:149px;
  top:241px;
  width:189px;
  height:173px;
}
#u56 {
  position:absolute;
  left:2px;
  top:78px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:364px;
  top:289px;
  width:860px;
  height:114px;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:214px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u59 {
  position:absolute;
  left:212px;
  top:516px;
  width:1012px;
  height:214px;
}
#u60 {
  position:absolute;
  left:10px;
  top:10px;
  width:992px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:212px;
  top:849px;
  width:1012px;
  height:144px;
}
#u63 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u64 {
  position:absolute;
  left:1165px;
  top:934px;
  width:45px;
  height:59px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:212px;
  top:1031px;
  width:1012px;
  height:144px;
}
#u68 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u69 {
  position:absolute;
  left:1165px;
  top:1116px;
  width:45px;
  height:59px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:212px;
  top:1211px;
  width:1012px;
  height:144px;
}
#u73 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u74 {
  position:absolute;
  left:1165px;
  top:1285px;
  width:45px;
  height:59px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:212px;
  top:1391px;
  width:1012px;
  height:144px;
}
#u78 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u79 {
  position:absolute;
  left:1165px;
  top:1476px;
  width:45px;
  height:59px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:212px;
  top:1581px;
  width:1012px;
  height:144px;
}
#u83 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u84 {
  position:absolute;
  left:1165px;
  top:1666px;
  width:45px;
  height:59px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:212px;
  top:1767px;
  width:1012px;
  height:144px;
}
#u88 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u89 {
  position:absolute;
  left:1165px;
  top:1852px;
  width:45px;
  height:59px;
}
#u90 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:212px;
  top:1955px;
  width:1012px;
  height:144px;
}
#u93 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u94 {
  position:absolute;
  left:1165px;
  top:2040px;
  width:45px;
  height:59px;
}
#u95 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:144px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:212px;
  top:2138px;
  width:1012px;
  height:144px;
}
#u98 {
  position:absolute;
  left:2px;
  top:64px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:59px;
}
#u99 {
  position:absolute;
  left:1165px;
  top:2223px;
  width:45px;
  height:59px;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
